@charset "UTF-8";
/*
Author: Marc Farr├®s Pijuan  
Author 
Description: 
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*------------------------------------*\
  /mixins, ├ìndice: 

  ********************************************************
  *******  faltan las explicaciones de cada mixin ********
  ********************************************************
  
 Gradient:
 */
/*

  Gradient:
  ================================================================================

    . $Linear
        linear-gradient($from,$to)

    . $Radial
        gradient-radial-three-colors($color1,$color2,$color3)
        gradient-radial($inner-color, $outer-color)

    . $Horizontal
        gradient-horizontal($start-color, $end-color, $start-percent, $end-percent)  

    . $Vertical
        gradient-vertical($start-color, $end-color, $start-percent, $end-percent)

    . $Directional
        gradient-directional($start-color, $end-color, $deg)

    . $Striped
        gradient-striped($color, $angle)

---------------------------------------------------------------------------------------

*/
/* ====================  /*
	$Linear gradient
/* ==================== */
/* ====================  /*
	$Radial gradient
/* ====================  */
/* ====================  /*
  $Gradient horizontal
/* ====================  */
/* ====================  /*
  $Gradient vertical
/* ====================  */
/* ====================  /*
  $Gradient directional
/* ====================  */
/* ====================  /*
  $Gradient horizontal three colors
/* ====================  */
/* ====================  /*
  $Striped
/* ====================  */
                                  /* 
  ================================================================================

 Flex :
 */
/*------------------------------------*\
  #flex ~ ├ìndice:

  		$Flexbox

  		$Flex()
			- none | <flex-grow> <flex-shrink> <flex-basis>
			** longitud de los elementos flex

  		$Inline-flex
		
		$Flex-dir(row)
			- row / row-reverse / column / 'column-reverse'
			** establece el eje principal

		$Flex-wrap(nowrap)	
			** controla el overflow de las nuevas lineas

		$Flex-flow(row nowrap)
			** se trata de un shorthand para los dos anteriores

		$Order()	
			** se realiza sobre un elemento de un contenedor flex
			** por defecto todos tienen 0

		$Flex-grow()
			- un entero positivo

		$Flex-shrink(1)	
			- un entero positivo

		$Flex-basis()
			- un entero positivo

		$Justify-content()
			- flex-start | flex-end | center | space-between | space-around
			** como se disponen en el eje principal

		$Align-items()
			- flex-start | flex-end | center | baseline | stretch
			** como se disponen en el eje secundario

		$Align-self()
			- auto | flex-start | flex-end | center | baseline | stretch	
			** como un elemento se dispone en el eje secundario

		$Align-content()
			- flex-start | flex-end | center | space-between | space-around | stretch
			** gestiona el espacio vacio entre linieas en caso de overflow

*/
                              /* 
 ================================================================================

 Rounded :
 */
/*

  Gradient:
  ================================================================================

    . $Rounded
        rounded($radius)

    . $Direction
        border-top-radius($radius)
        border-bottom-radius($radius)
        border-left-radius($radius)
        border-right-radius($radius)


---------------------------------------------------------------------------------------

*/
/* ====================  /*
  $Rounded ~~  default rounded
/* ==================== */
/* ====================  /*
  $Direction rounded ~~  Single side border-radius
/* ==================== */
                                 /*
 ================================================================================

 Transform :
 */
/*

  Transform:
  ================================================================================

    . $Rotate
        - rotateX($degs)
        - rotateY($degs)
        - rotateZ($degs)
    
    . $Translate
        - translateZ($z)
        - translate3D($x,$y,$z)

    .$Perspective

    .$Scale

---------------------------------------------------------------------------------------

*/
/* ====================  /*
    $Rotate
/* ==================== */
/* ====================  /*
    $Translate
/* ==================== */
                                   /*
 ================================================================================

 Shadow :
 */
/* ====================  /*
	$Shadow
/* ==================== */
/* ====================  /*
	$In shadow
/* ==================== */
/* ====================  /*
	$Box shadow
/* ==================== */
                                /*
 ================================================================================

 user-select :
 */
                                     /*
 ================================================================================

 animations :
 */
/*------------------------------------*\
  $Animation
  * 
  ** se utiliza para crear las animaciones de nuestra p├ígina en:
  ** 'effects/animations.scss'
\*------------------------------------*/
/*------------------------------------*\
  $Bind-animation
  * 
  ** para subscribirse a una animaci├│n
  ** params : $name,$time,$timing,$delay,direction,it-count
\*------------------------------------*/
                                   /*
 ================================================================================

 modernizr :
 */
.opacity.csstransforms .test {
  opacity: 0;
  transform: translateX(10px); }
.no-js .test, .no-opacity .test, .no-csstransforms .test {
  visibility: hidden;
  left: 10px; }

                                   /*
 ================================================================================


		$Prefijos()

		$Transition()

		$Bezier-transition()
		
		$Opacity()

		$media-query-bp()
		
		$Background-size()

		$Max-Width()

		$clearFix

		$Tab-focus

		$Align-text()

*/
/*------------------------------------*\
  $Prefijos
\*------------------------------------*/
/* ====================  /*
	$Transition
/* ==================== */
/* ====================  /*
	$Bezier-transition
/* ==================== */
/*------------------------------------*\
  $Opacity
\*------------------------------------*/
/*------------------------------------*\
  $Responsive ~ Breakpoints
  $Media-query-bp
\*------------------------------------*/
/*------------------------------------*\
  $Background-size
\*------------------------------------*/
/*------------------------------------*\
  $RetinaScreen
\*------------------------------------*/
/*------------------------------------*\
  $Contenido
\*------------------------------------*/
/*------------------------------------*\
  $Listas
\*------------------------------------*/
/*------------------------------------*\
  $Max-Width
\*------------------------------------*/
/*------------------------------------*\
  $Tab-focus
\*------------------------------------*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a, a:visited {
  text-decoration: none;
  color: black; }

.columns-base-layout-parent > .layout-content, .intranet-base-parent > .layout-content, .general-view_container .general-view_linia, .one-col-contenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.columns-base-layout-parent, .intranet-base-parent, .intranet-form .fieldset > div, .frame-element > .icon, .frame-infoOf > .title, .frame-infoOf > .content > .text, .frame-infoOf > .content > .buttons, .main_title_container, .general-view_container, .general-view_container .general-view_linia > .linia-num, .general-view_container .general-view_linia > .linia-num > .num, .general-view_container .general-view_linia > .sublinia_container, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num > .num, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina, .resultat_row, .two-cols-contenedor, .action-button > a, .action-button.ajax, #admin-tests_menu-sup, #admin-tests_menu-sup > .menu-sup_frame, .info-contenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

/* $Colores generales usados en toda la web
/* ---------------------------------------- */
/*
  frame-button
*/
@keyframes click_animation {
  0% {
    -webkit-box-shadow: 3px 3px 6px #333;
    -moz-box-shadow: 3px 3px 6px #333;
    -ms-box-shadow: 3px 3px 6px #333;
    -o-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333; }
  100% {
    -webkit-box-shadow: 0px 0px 0px #333;
    -moz-box-shadow: 0px 0px 0px #333;
    -ms-box-shadow: 0px 0px 0px #333;
    -o-box-shadow: 0px 0px 0px #333;
    box-shadow: 0px 0px 0px #333; } }
@-webkit-keyframes click_animation {
  0% {
    -webkit-box-shadow: 3px 3px 6px #333;
    -moz-box-shadow: 3px 3px 6px #333;
    -ms-box-shadow: 3px 3px 6px #333;
    -o-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333; }
  100% {
    -webkit-box-shadow: 0px 0px 0px #333;
    -moz-box-shadow: 0px 0px 0px #333;
    -ms-box-shadow: 0px 0px 0px #333;
    -o-box-shadow: 0px 0px 0px #333;
    box-shadow: 0px 0px 0px #333; } }
@-moz-keyframes click_animation {
  0% {
    -webkit-box-shadow: 3px 3px 6px #333;
    -moz-box-shadow: 3px 3px 6px #333;
    -ms-box-shadow: 3px 3px 6px #333;
    -o-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333; }
  100% {
    -webkit-box-shadow: 0px 0px 0px #333;
    -moz-box-shadow: 0px 0px 0px #333;
    -ms-box-shadow: 0px 0px 0px #333;
    -o-box-shadow: 0px 0px 0px #333;
    box-shadow: 0px 0px 0px #333; } }
@-o-keyframes click_animation {
  0% {
    -webkit-box-shadow: 3px 3px 6px #333;
    -moz-box-shadow: 3px 3px 6px #333;
    -ms-box-shadow: 3px 3px 6px #333;
    -o-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333; }
  100% {
    -webkit-box-shadow: 0px 0px 0px #333;
    -moz-box-shadow: 0px 0px 0px #333;
    -ms-box-shadow: 0px 0px 0px #333;
    -o-box-shadow: 0px 0px 0px #333;
    box-shadow: 0px 0px 0px #333; } }
/* estructura horizontal con:

     - menu lateral */
                       /*
- contenido central */
                       /*
. espacio para un men├║ superior(pesta├▒as)*/
                              /*
. espacio para el contenido final de la p├ígina*/
                                        /*


 */
.columns-base-layout-parent, .intranet-base-parent {
  position: relative;
  min-height: 100% !important;
  height: 100%; }
  .columns-base-layout-parent > .layout-menu, .intranet-base-parent > .layout-menu {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .columns-base-layout-parent > .layout-content, .intranet-base-parent > .layout-content {
    -webkit-box-flex: 9;
    -webkit-flex: 9;
    -moz-box-flex: 9;
    -moz-flex: 9;
    -ms-flex: 9;
    flex: 9;
    height: 100%; }
    .columns-base-layout-parent > .layout-content > .layout-content-menu, .intranet-base-parent > .layout-content > .layout-content-menu {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      -moz-box-flex: 2;
      -moz-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .columns-base-layout-parent > .layout-content > .layout-content-final, .intranet-base-parent > .layout-content > .layout-content-final {
      -webkit-box-flex: 10;
      -webkit-flex: 10;
      -moz-box-flex: 10;
      -moz-flex: 10;
      -ms-flex: 10;
      flex: 10; }

/*
  Estilos para los formularios usados en la intranet
*/
.intranet-form {
  position: relative;
  border: solid 1px #dde4e6;
  width: 100%;
  background-color: white; }
  .intranet-form > h2 {
    padding: 10px 0 10px 25px;
    color: #34495e;
    background-color: #f5f7f7; }
    .intranet-form > h2 > span {
      float: right;
      margin-right: 30px; }
  .intranet-form .fieldset {
    position: relative;
    margin: 25px 15px; }
  .intranet-form .buttons {
    position: relative;
    float: left; }
  .intranet-form .intranet-label {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: right;
    padding: 7px 25px 7px 0;
    color: #2b3c4e; }
  .intranet-form .intranet-input {
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    -moz-box-flex: 7;
    -moz-flex: 7;
    -ms-flex: 7;
    flex: 7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    padding: 7px 10px 7px 10px; }
  .intranet-form .intranet-submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    background-color: #3498DB;
    color: white;
    margin: 20px 20px;
    padding: 10px; }
  .intranet-form .intranet-accept {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    background-color: #2ecc71;
    color: white;
    margin: 20px 20px;
    padding: 10px; }
  .intranet-form .intranet-repeat {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    background-color: #e74c3c;
    color: white;
    margin: 20px 20px;
    padding: 10px; }
  .intranet-form .fields {
    overflow: hidden; }
    .intranet-form .fields.out {
      height: 0; }

/* ==================================================
  Colores de fondo disponibles
----------------------------------------------------*/
.bg-blue, .blue.action-button, .blue#resultat_dades > tbody > tr:nth-child(2n), .blue.data-list > tbody > tr:nth-child(2n) {
  background-color: #3498DB; }

.bg-blue_light, .blue#resultat_dades > tbody > tr:nth-child(2n+1), .blue.data-list > tbody > tr:nth-child(2n+1) {
  background-color: #5faee3; }

.bg-green, .green.action-button, .green#resultat_dades > tbody > tr:nth-child(2n), .green.data-list > tbody > tr:nth-child(2n) {
  background-color: #2ecc71; }

.bg-green_light, .green#resultat_dades > tbody > tr:nth-child(2n+1), .green.data-list > tbody > tr:nth-child(2n+1) {
  background-color: #54d98c; }

.bg-yellow, .yellow.action-button, .yellow#resultat_dades > tbody > tr:nth-child(2n), .yellow.data-list > tbody > tr:nth-child(2n) {
  background-color: #f1c40f; }

.bg-yellow_light, .yellow#resultat_dades > tbody > tr:nth-child(2n+1), .yellow.data-list > tbody > tr:nth-child(2n+1) {
  background-color: #f4d03f; }

.bg-purple, .purple.action-button, .purple#resultat_dades > tbody > tr:nth-child(2n), .purple.data-list > tbody > tr:nth-child(2n) {
  background-color: #9b59b6; }

.bg-purple_light, .purple#resultat_dades > tbody > tr:nth-child(2n+1), .purple.data-list > tbody > tr:nth-child(2n+1) {
  background-color: #b07cc6; }

.bg-orange, .orange.action-button, .orange#resultat_dades > tbody > tr:nth-child(2n), .orange.data-list > tbody > tr:nth-child(2n) {
  background-color: #f39c12; }

.bg-orange_light, .orange#resultat_dades > tbody > tr:nth-child(2n+1), .orange.data-list > tbody > tr:nth-child(2n+1) {
  background-color: #f5b043; }

.bg-grey {
  background-color: #95a5a6; }

.bg-grey_light {
  background-color: #b1bdbd; }

.bg-red, .red.action-button, .red#resultat_dades, .red.data-list, #resultat_dades > tbody > tr > td.error, .data-list > tbody > tr > td.error {
  background-color: #e74c3c; }

/* =======================================================
  Bot├│n con la interfaz [clicked / unclicked] que rota 180
  grados al ser pulsado. 

   - Dependencias 
      . fontawessome : debe incluirse la clase 'fa' para que se muestre 
      adecuadamente el icono de la flecha 
  */
.sublist_button {
  -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  transition: transform 0.5s linear; }
  .sublist_button::before {
    content: '\f0d7'; }
  .clicked.sublist_button {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .unclicked.sublist_button {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

/* =======================================================
  Frame dise├▒ado para mostrar botones que realizan 
  diferentes acciones
  */
.action-button {
  position: relative;
  float: left;
  font-family: Helvetica;
  font-size: 16px;
  margin: 15px;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 6px #333;
  -moz-box-shadow: 3px 3px 6px #333;
  -ms-box-shadow: 3px 3px 6px #333;
  -o-box-shadow: 3px 3px 6px #333;
  box-shadow: 3px 3px 6px #333;
  text-shadow: 0px 0px 1px #000;
  border: solid 1px transparent;
  -webkit-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear; }
  .blue.action-button {
    color: white; }
  .green.action-button {
    color: white; }
  .yellow.action-button {
    color: white; }
  .purple.action-button {
    color: white; }
  .orange.action-button {
    color: white; }
  .red.action-button {
    color: white; }
  .clickable_done.action-button {
    -webkit-animation: click_animation 0.4s;
    animation: click_animation 0.4s; }
  .clicked.action-button {
    -webkit-box-shadow: 0px 0px 0px #333;
    -moz-box-shadow: 0px 0px 0px #333;
    -ms-box-shadow: 0px 0px 0px #333;
    -o-box-shadow: 0px 0px 0px #333;
    box-shadow: 0px 0px 0px #333; }
  .unclicked.action-button {
    -webkit-box-shadow: 3px 3px 6px #333;
    -moz-box-shadow: 3px 3px 6px #333;
    -ms-box-shadow: 3px 3px 6px #333;
    -o-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333; }
  .action-button:hover {
    cursor: pointer; }

/* =======================================================
  Frame dise├▒ado para mostrar icono y texto con reacci├│n 
  al hover
  */
.frame-element {
  width: 100px;
  height: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: auto 10px; }
  .frame-element:first-child {
    margin-left: 150px; }
  .frame-element:last-child {
    margin-right: 150px; }
  .frame-element > .icon {
    height: 55px; }
    .frame-element > .icon > span {
      font-size: 2rem;
      color: #dbe1e8;
      margin: auto; }
  .frame-element > .title {
    text-align: center;
    color: #1bbae1;
    font-size: 15px;
    font-weight: bold; }
  .frame-element:hover {
    cursor: pointer;
    background-color: #1bbae1; }
    .frame-element:hover > .icon > span {
      color: #ffffff;
      -webkit-opacity: 0.6;
      -moz-opacity: 0.6;
      opacity: 0.6; }
    .frame-element:hover > .title {
      color: #ffffff; }

/* =======================================================
  Frame dise├▒ado para mostrar informaci├│n y opcionalmente
  alguna opci├│n
  */
.frame-infoOf {
  width: 150px;
  height: 110px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px #e3e9eb;
  font-family: Helvetica;
  margin-top: 0;
  padding-top: 0;
  background-color: #f5f7f7; }
  .frame-infoOf:first-child {
    margin-left: 0; }
  .frame-infoOf:last-child {
    margin-right: 0; }
  .frame-infoOf > .title {
    height: 30px;
    background-color: #e3e9eb;
    font-weight: bold; }
    .frame-infoOf > .title > span {
      margin: auto; }
  .frame-infoOf > .content {
    height: 80px; }
    .frame-infoOf > .content > .text {
      height: 100%; }
      .frame-infoOf > .content > .text > span {
        margin: auto;
        padding: 6px; }
    .frame-infoOf > .content > .buttons {
      height: 35px;
      border-top: solid 1px black; }
      .frame-infoOf > .content > .buttons > span {
        margin: auto; }
  .blue.frame-infoOf > .title {
    background-color: #3498DB;
    color: white; }
  .green.frame-infoOf > .title {
    background-color: #2ecc71;
    color: white; }
  .yellow.frame-infoOf > .title {
    background-color: #f1c40f;
    color: white; }
  .purple.frame-infoOf > .title {
    background-color: #9b59b6;
    color: white; }
  .orange.frame-infoOf > .title {
    background-color: #f39c12;
    color: white; }

/* =======================================================
  Frame estructural sencillo para englobar listas u otros
  elementos de una p├ígina
  */
.maquina_list_tests, .resultats-table_contenedor {
  position: relative;
  width: 100%;
  padding: 0 0 25px 0;
  background-color: white;
  margin: 10px 0; }
  .maquina_list_tests > h2, .resultats-table_contenedor > h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f5f7f7; }

/* =======================================================
  Tabla standard para mostrar informaci├│n de diferente tipo
  Tiene la opci├│n de una doble indexaci├│n (vert. y horiz.), 
    para ello hay que a├▒adir la classe 'cubic'
  */
#resultat_dades, .data-list {
  position: relative;
  width: 100%;
  font-family: Helvetica; }
  .blue#resultat_dades > tbody > tr:nth-child(2n), .blue.data-list > tbody > tr:nth-child(2n) {
    color: white; }
  .blue#resultat_dades > tbody > tr:nth-child(2n+1), .blue.data-list > tbody > tr:nth-child(2n+1) {
    color: #ecf0f1; }
  .green#resultat_dades > tbody > tr:nth-child(2n), .green.data-list > tbody > tr:nth-child(2n) {
    color: white; }
  .green#resultat_dades > tbody > tr:nth-child(2n+1), .green.data-list > tbody > tr:nth-child(2n+1) {
    color: #ecf0f1; }
  .yellow#resultat_dades > tbody > tr:nth-child(2n), .yellow.data-list > tbody > tr:nth-child(2n) {
    color: black; }
  .yellow#resultat_dades > tbody > tr:nth-child(2n+1), .yellow.data-list > tbody > tr:nth-child(2n+1) {
    color: #333; }
  .purple#resultat_dades > tbody > tr:nth-child(2n), .purple.data-list > tbody > tr:nth-child(2n) {
    color: white; }
  .purple#resultat_dades > tbody > tr:nth-child(2n+1), .purple.data-list > tbody > tr:nth-child(2n+1) {
    color: #ecf0f1; }
  .orange#resultat_dades > tbody > tr:nth-child(2n), .orange.data-list > tbody > tr:nth-child(2n) {
    color: white; }
  .orange#resultat_dades > tbody > tr:nth-child(2n+1), .orange.data-list > tbody > tr:nth-child(2n+1) {
    color: #ecf0f1; }
  .red#resultat_dades, .red.data-list {
    color: white; }
  .light_grey#resultat_dades > tbody > tr:nth-child(2n), .light_grey.data-list > tbody > tr:nth-child(2n) {
    background-color: white;
    color: #000; }
  .light_grey#resultat_dades > tbody > tr:nth-child(2n+1), .light_grey.data-list > tbody > tr:nth-child(2n+1) {
    background-color: #ecf0f1;
    color: #333; }
  #resultat_dades > thead > tr, .data-list > thead > tr {
    text-align: center;
    background-color: #333; }
    #resultat_dades > thead > tr > th, .data-list > thead > tr > th {
      text-align: center;
      border: solid 1px #ecf0f1;
      color: white; }
  #resultat_dades > tbody > tr, .data-list > tbody > tr {
    text-align: center; }
    #resultat_dades > tbody > tr:nth-child(2n), .data-list > tbody > tr:nth-child(2n) {
      background-color: #666;
      color: white; }
    #resultat_dades > tbody > tr:nth-child(2n+1), .data-list > tbody > tr:nth-child(2n+1) {
      background-color: white;
      color: #333; }
    #resultat_dades > tbody > tr > td, .data-list > tbody > tr > td {
      text-align: center; }
      #resultat_dades > tbody > tr > td.error, .data-list > tbody > tr > td.error {
        color: white; }
  .cubic#resultat_dades > tbody > tr > td:first-child, .cubic.data-list > tbody > tr > td:first-child {
    background-color: #dde4e6;
    color: #333;
    font-weight: bold; }

/* =======================================================
  div destinado a dejar un espacio en blanco
  */
/*
  Estructura:
  
    li.sublist 
      > span.sublist_button
      > ul.sublist_container
        > li.sublist_element
          > a.sublist_link


  Tiene depend├®ncias con:

  	. objects/buttons.scss
    . config/config_common.scss
  	. framework/*
    . fontawessome

*/
.sublist
> .sublist_container {
  overflow: hidden;
  list-style: dotted;
  list-style-type: square;
  padding-left: 50px; }
  .sublist
  > .sublist_container.in {
    height: auto; }
    .sublist
    > .sublist_container.in > .sublist_element {
      height: 25px;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1; }
      .sublist
      > .sublist_container.in > .sublist_element:first-child {
        margin-top: 15px; }
      .sublist
      > .sublist_container.in > .sublist_element:last-child {
        margin-bottom: 15px; }
  .sublist
  > .sublist_container.out > .sublist_element {
    height: 0; }
  .sublist
  > .sublist_container > .sublist_element {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    color: #f39c12;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }
    .sublist
    > .sublist_container > .sublist_element > .sublist_link {
      color: #f39c12;
      -webkit-transition: padding-left 0.2s;
      -moz-transition: padding-left 0.2s;
      -o-transition: padding-left 0.2s;
      transition: padding-left 0.2s;
      padding-left: 0; }
      .sublist
      > .sublist_container > .sublist_element > .sublist_link:hover {
        padding-left: 5px; }

.sublist_button {
  margin-left: 5px; }
  .sublist_button.clicked {
    color: #f39c12; }
  .sublist_button.unclicked {
    color: #f39c12; }

.main_title_container {
  height: 100px; }
  .main_title_container > .main_title {
    padding: 5px;
    margin: auto; }
    .main_title_container > .main_title > h2 {
      color: #34495e; }

.general-view_container {
  margin-top: 50px;
  font-family: Helvetica; }
  .general-view_container .general-view_linia {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #46627f;
    overflow: hidden; }
    .general-view_container .general-view_linia > .linia-num > .num {
      height: 60px;
      width: 100%;
      margin: auto;
      background-color: #2f4154; }
      .general-view_container .general-view_linia > .linia-num > .num > span {
        margin: auto;
        color: #f39c12;
        font-weight: bold; }
    .general-view_container .general-view_linia > .sublinia_container {
      height: 200px; }
      .general-view_container .general-view_linia > .sublinia_container > .sublinia {
        height: 140px;
        width: 140px;
        margin: auto;
        background-color: white;
        border: solid 1px #75b9e7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num {
          height: 30px;
          background-color: #75b9e7; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num > .num {
            height: 22px;
            width: 22px;
            background-color: white;
            color: #333;
            margin: auto;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num > .num > span {
              margin: auto;
              font-family: Helvetica;
              font-weight: bold; }
        .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-familia {
          text-align: center;
          padding: 5px;
          font-size: 12px;
          background-color: #eee; }
        .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines {
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding-top: 10px; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina {
            height: 25px;
            width: 25px;
            background-color: #e74c3c;
            color: white;
            margin: auto;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 1px 1px 2px #222;
            -moz-box-shadow: 1px 1px 2px #222;
            -ms-box-shadow: 1px 1px 2px #222;
            -o-box-shadow: 1px 1px 2px #222;
            box-shadow: 1px 1px 2px #222;
            -webkit-transition: shadow-box 0.5s linear;
            -moz-transition: shadow-box 0.5s linear;
            -o-transition: shadow-box 0.5s linear;
            transition: shadow-box 0.5s linear; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina:hover {
              -webkit-box-shadow: 3px 3px 3px #222;
              -moz-box-shadow: 3px 3px 3px #222;
              -ms-box-shadow: 3px 3px 3px #222;
              -o-box-shadow: 3px 3px 3px #222;
              box-shadow: 3px 3px 3px #222; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.no_test {
              background-color: #eee;
              color: #333; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.not_finished {
              background-color: #f1c40f; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.test_ok {
              background-color: #2ecc71; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.errors {
              background-color: #e74c3c; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.maquina_actual {
              background-color: #e67e22;
              border: solid 2px yellow; }
            .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina > span {
              margin: auto; }

.resultats_actions {
  position: relative;
  width: 100%;
  padding: 5px;
  height: 80px; }

.resultat_row {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 10px; }
  .resultat_row > .resultat_column {
    width: 250px;
    padding: 5px; }
    .resultat_row > .resultat_column > .resultat_column-titol {
      padding: 7px 0 7px 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .resultat_row > .resultat_column > .resultat_column-contingut {
      background-color: #fff;
      padding: 15px 0 15px 10px;
      text-align: center; }

#resultat_dades {
  width: 70%;
  margin: auto; }
  #resultat_dades > thead > tr {
    background-color: #dde4e6; }
    #resultat_dades > thead > tr > th {
      color: #333; }
  #resultat_dades > tbody > tr > td {
    text-align: center; }
    #resultat_dades > tbody > tr > td.magnitude {
      background-color: #dde4e6;
      color: #3498DB;
      font-weight: bold; }

/*
   Extiende al base layout: "columns-base-layout"
*/
.intranet-base-parent {
  overflow: hidden; }
  .intranet-base-parent .layout-menu {
    background-color: #34495e;
    max-width: 220px;
    min-width: 175px; }
    .intranet-base-parent .layout-menu > #intranet_menu_lat {
      margin-top: 150px; }
      .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element {
        margin: 10px 0 0 0; }
        .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element > .list_icon {
          margin: 0 7px 0 15px;
          color: #95a5a6; }
          .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element > .list_icon.in {
            color: #f39c12;
            -ms-transform: scale(1.2, 1.2);
            -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
        .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element > .list_link {
          color: #ecf0f1; }
  .intranet-base-parent .layout-content {
    min-width: 900px; }
    .intranet-base-parent .layout-content > .layout-content-menu {
      border-bottom: solid 1px #ddd;
      overflow: hidden;
      padding: 5px; }
    .intranet-base-parent .layout-content > .layout-content-submenu {
      position: relative;
      background-color: #ecf0f1; }
    .intranet-base-parent .layout-content > .layout-content-options {
      position: relative;
      background-color: #ecf0f1; }
    .intranet-base-parent .layout-content > .layout-content-final {
      position: relative;
      overflow-y: scroll;
      background-color: #ecf0f1; }

.two-cols-contenedor > .left_side {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 10px 20px 10px; }
.two-cols-contenedor > .right_side {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 10px 20px 10px; }

.one-col-contenedor {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-flex-line-pack: space-around;
  align-content: space-around;
  width: 100%;
  padding: 10px; }

.maquina_actual {
  height: 50px;
  width: 50px;
  background-color: #f39c12;
  border: solid 2px #f39c12;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  padding: 0 5px;
  font-weight: bold; }

.plegable.in {
  display: table; }
.plegable.out {
  display: none; }

.pointable:hover {
  cursor: pointer; }

#tests_table_wrapper {
  margin: 50px;
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.dataTables_info {
  display: none; }

.dataTables_length {
  margin: 25px; }
  .dataTables_length > label > select {
    padding: 5px;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #95a5a6; }

.dataTables_filter {
  margin: 25px; }
  .dataTables_filter > label > input {
    padding: 5px;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #95a5a6; }

#tests_table {
  font-family: Helvetica; }
  #tests_table > thead > tr > th {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    border: solid 1px #ddd; }
  #tests_table > tbody > tr:nth-child(2n) {
    background-color: #ddd; }
  #tests_table > tbody > tr > td {
    padding-left: 25px;
    height: 40px; }
    #tests_table > tbody > tr > td > .veure {
      color: green; }
    #tests_table > tbody > tr > td > .borrar {
      color: #e74c3c; }
    #tests_table > tbody > tr > td > .table_icon {
      margin-right: 15px; }

/* =======================================================
  Botones standard para realizar las acciones comunes
    - Dependencias
      . colores del framework 'objects/colors'
  */
.action-button {
                 /*
-[ parents ]--------------------------------------------
*/
                        /* objects/buttons 
--------------------------------------------------------*/
  margin-top: auto;
  height: 30px; }
  .action-button > a {
    height: 100%;
    color: inherit; }
    .action-button > a > span {
      color: inherit;
      margin: auto; }
  .action-button.ajax > span {
    color: inherit;
    margin: auto; }

/* =======================================================
  Lista de datos para mostrar informaci├│n r├ípida
    - Dependencias
      
  */
.data-list {
             /*
-[ parents ]--------------------------------------------
*/
                      /* objects/list 
--------------------------------------------------------*/
  position: relative;
  width: 70%;
  margin: auto; }
  .data-list > tbody > tr > td > span {
    color: black; }
    .data-list > tbody > tr > td > span:hover {
      cursor: pointer; }

/* =======================================================
  Frame dise├▒ado para mostrar informaci├│n y opcionalmente
  alguna opci├│n
  */
.frame-infoOf {
  height: 50px;
  margin: auto; }
  .frame-infoOf > .title {
    height: 20px; }
  .frame-infoOf > .content {
    height: 30px; }
    .frame-infoOf > .content > .buttons {
      display: none; }

.frame-element {
  background-color: #f5f7f7; }

.clear {
  clear: both; }

#admin-tests_menu-sup {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  position: relative;
  height: 110px;
  background-color: #ffffff; }
  #admin-tests_menu-sup > .menu-sup_frame {
    height: 85px;
    padding: 0 20px;
    margin: auto; }

.info-contenedor {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ecf0f1;
  z-index: 90; }

.subsection_title {
  position: relative;
  width: 500px;
  font-family: Helvetica;
  font-size: 17px;
  margin: 50px auto -100px auto;
  color: #2c3e50; }

#OF_left {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3; }
  #OF_left > .general-view_container {
    margin-top: 0; }
    #OF_left > .general-view_container > .general-view_linia {
      margin-top: 0; }

#OF_right {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -moz-box-flex: 7;
  -moz-flex: 7;
  -ms-flex: 7;
  flex: 7;
  padding: 0; }

#results_list {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
  padding: 5px; }
  #results_list:hover {
    cursor: pointer; }

.pointer:hover {
  cursor: pointer; }

#test_right {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
  padding: 5px; }

.actions-contenedor {
  height: 30px;
  padding: 0;
  background-color: transparent; }

/*# sourceMappingURL=intranet.css.map */
