@charset "UTF-8";
/*
Author: Marc Farr├®s Pijuan  
Author 
Description: 
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*------------------------------------*\
  /mixins, ├ìndice: 

  ********************************************************
  *******  faltan las explicaciones de cada mixin ********
  ********************************************************
  
 Gradient:
 */
/*

  Gradient:
  ================================================================================

    . $Linear
        linear-gradient($from,$to)

    . $Radial
        gradient-radial-three-colors($color1,$color2,$color3)
        gradient-radial($inner-color, $outer-color)

    . $Horizontal
        gradient-horizontal($start-color, $end-color, $start-percent, $end-percent)  

    . $Vertical
        gradient-vertical($start-color, $end-color, $start-percent, $end-percent)

    . $Directional
        gradient-directional($start-color, $end-color, $deg)

    . $Striped
        gradient-striped($color, $angle)

---------------------------------------------------------------------------------------

*/
/* ====================  /*
	$Linear gradient
/* ==================== */
/* ====================  /*
	$Radial gradient
/* ====================  */
/* ====================  /*
  $Gradient horizontal
/* ====================  */
/* ====================  /*
  $Gradient vertical
/* ====================  */
/* ====================  /*
  $Gradient directional
/* ====================  */
/* ====================  /*
  $Gradient horizontal three colors
/* ====================  */
/* ====================  /*
  $Striped
/* ====================  */
                                  /* 
  ================================================================================

 Flex :
 */
/*------------------------------------*\
  #flex ~ ├ìndice:

  		$Flexbox

  		$Flex()
			- none | <flex-grow> <flex-shrink> <flex-basis>
			** longitud de los elementos flex

  		$Inline-flex
		
		$Flex-dir(row)
			- row / row-reverse / column / 'column-reverse'
			** establece el eje principal

		$Flex-wrap(nowrap)	
			** controla el overflow de las nuevas lineas

		$Flex-flow(row nowrap)
			** se trata de un shorthand para los dos anteriores

		$Order()	
			** se realiza sobre un elemento de un contenedor flex
			** por defecto todos tienen 0

		$Flex-grow()
			- un entero positivo

		$Flex-shrink(1)	
			- un entero positivo

		$Flex-basis()
			- un entero positivo

		$Justify-content()
			- flex-start | flex-end | center | space-between | space-around
			** como se disponen en el eje principal

		$Align-items()
			- flex-start | flex-end | center | baseline | stretch
			** como se disponen en el eje secundario

		$Align-self()
			- auto | flex-start | flex-end | center | baseline | stretch	
			** como un elemento se dispone en el eje secundario

		$Align-content()
			- flex-start | flex-end | center | space-between | space-around | stretch
			** gestiona el espacio vacio entre linieas en caso de overflow

*/
                              /* 
 ================================================================================

 Rounded :
 */
/*

  Gradient:
  ================================================================================

    . $Rounded
        rounded($radius)

    . $Direction
        border-top-radius($radius)
        border-bottom-radius($radius)
        border-left-radius($radius)
        border-right-radius($radius)


---------------------------------------------------------------------------------------

*/
/* ====================  /*
  $Rounded ~~  default rounded
/* ==================== */
/* ====================  /*
  $Direction rounded ~~  Single side border-radius
/* ==================== */
                                 /*
 ================================================================================

 Transform :
 */
/*

  Transform:
  ================================================================================

    . $Rotate
        - rotateX($degs)
        - rotateY($degs)
        - rotateZ($degs)
    
    . $Translate
        - translateZ($z)
        - translate3D($x,$y,$z)

    .$Perspective

    .$Scale

---------------------------------------------------------------------------------------

*/
/* ====================  /*
    $Rotate
/* ==================== */
/* ====================  /*
    $Translate
/* ==================== */
                                   /*
 ================================================================================

 Shadow :
 */
/* ====================  /*
	$Shadow
/* ==================== */
/* ====================  /*
	$In shadow
/* ==================== */
/* ====================  /*
	$Box shadow
/* ==================== */
                                /*
 ================================================================================

 user-select :
 */
                                     /*
 ================================================================================

 animations :
 */
/*------------------------------------*\
  $Animation
  * 
  ** se utiliza para crear las animaciones de nuestra p├ígina en:
  ** 'effects/animations.scss'
\*------------------------------------*/
/*------------------------------------*\
  $Bind-animation
  * 
  ** para subscribirse a una animaci├│n
  ** params : $name,$time,$timing,$delay,direction,it-count
\*------------------------------------*/
                                   /*
 ================================================================================

 modernizr :
 */
.opacity.csstransforms .test {
  opacity: 0;
  transform: translateX(10px); }
.no-js .test, .no-opacity .test, .no-csstransforms .test {
  visibility: hidden;
  left: 10px; }

                                   /*
 ================================================================================


		$Prefijos()

		$Transition()

		$Bezier-transition()
		
		$Opacity()

		$media-query-bp()
		
		$Background-size()

		$Max-Width()

		$clearFix

		$Tab-focus

		$Align-text()

*/
/*------------------------------------*\
  $Prefijos
\*------------------------------------*/
/* ====================  /*
	$Transition
/* ==================== */
/* ====================  /*
	$Bezier-transition
/* ==================== */
/*------------------------------------*\
  $Opacity
\*------------------------------------*/
/*------------------------------------*\
  $Responsive ~ Breakpoints
  $Media-query-bp
\*------------------------------------*/
/*------------------------------------*\
  $Background-size
\*------------------------------------*/
/*------------------------------------*\
  $RetinaScreen
\*------------------------------------*/
/*------------------------------------*\
  $Contenido
\*------------------------------------*/
/*------------------------------------*\
  $Listas
\*------------------------------------*/
/*------------------------------------*\
  $Max-Width
\*------------------------------------*/
/*------------------------------------*\
  $Tab-focus
\*------------------------------------*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a, a:visited {
  text-decoration: none;
  color: black; }

.columns-base-layout-parent > .layout-content, .intranet-base-parent > .layout-content, .general-view_container .general-view_linia, .one-col-contenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.columns-base-layout-parent, .intranet-base-parent, .intranet-form .fieldset > div, .frame-element > .icon, .frame-info > .title, .frame-info > .content > .text, .frame-info > .content > .buttons, .general-view_container, .general-view_container .general-view_linia > .linia-num, .general-view_container .general-view_linia > .linia-num > .num, .general-view_container .general-view_linia > .sublinia_container, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num > .num, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines, .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina, .two-cols-contenedor, #admin-tests_menu-sup, #admin-tests_menu-sup > .menu-sup_frame, .info-contenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

/* $Colores generales usados en toda la web
/* ---------------------------------------- */
/* estructura horizontal con:

     - menu lateral */
                       /*
- contenido central */
                       /*
. espacio para un men├║ superior(pesta├▒as)*/
                              /*
. espacio para el contenido final de la p├ígina*/
                                        /*


 */
.columns-base-layout-parent, .intranet-base-parent {
  position: relative;
  min-height: 100% !important;
  height: 100%; }
  .columns-base-layout-parent > .layout-menu, .intranet-base-parent > .layout-menu {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .columns-base-layout-parent > .layout-content, .intranet-base-parent > .layout-content {
    -webkit-box-flex: 9;
    -webkit-flex: 9;
    -moz-box-flex: 9;
    -moz-flex: 9;
    -ms-flex: 9;
    flex: 9;
    height: 100%; }
    .columns-base-layout-parent > .layout-content > .layout-content-menu, .intranet-base-parent > .layout-content > .layout-content-menu {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      -moz-box-flex: 2;
      -moz-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .columns-base-layout-parent > .layout-content > .layout-content-final, .intranet-base-parent > .layout-content > .layout-content-final {
      -webkit-box-flex: 10;
      -webkit-flex: 10;
      -moz-box-flex: 10;
      -moz-flex: 10;
      -ms-flex: 10;
      flex: 10; }

/*
  Estilos para los formularios usados en la intranet
*/
.intranet-form {
  position: relative;
  border: solid 1px #dde4e6;
  width: 100%;
  background-color: white; }
  .intranet-form > h2 {
    padding: 10px 0 10px 25px;
    color: #34495e;
    background-color: #f5f7f7; }
    .intranet-form > h2 > span {
      float: right;
      margin-right: 30px; }
  .intranet-form .fieldset {
    position: relative;
    margin: 25px 15px; }
  .intranet-form .buttons {
    position: relative;
    float: left; }
  .intranet-form .intranet-label {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: right;
    padding: 7px 25px 7px 0;
    color: #2b3c4e; }
  .intranet-form .intranet-input {
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    -moz-box-flex: 7;
    -moz-flex: 7;
    -ms-flex: 7;
    flex: 7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    padding: 7px 10px 7px 10px; }
  .intranet-form .intranet-submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    background-color: #3498DB;
    color: white;
    margin: 20px 20px;
    padding: 10px; }
  .intranet-form .intranet-accept {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    background-color: #2ecc71;
    color: white;
    margin: 20px 20px;
    padding: 10px; }
  .intranet-form .intranet-repeat {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #dde4e6;
    background-color: #e74c3c;
    color: white;
    margin: 20px 20px;
    padding: 10px; }
  .intranet-form .fields {
    overflow: hidden; }
    .intranet-form .fields.out {
      height: 0; }

.intranet_table_list {
  width: 100%; }
  .intranet_table_list > thead > tr {
    text-align: center; }
    .intranet_table_list > thead > tr > th {
      text-align: center;
      border: solid 1px #333; }
  .intranet_table_list > tbody > tr {
    text-align: center; }
    .intranet_table_list > tbody > tr:nth-child(2n) {
      background-color: #666;
      color: white; }
    .intranet_table_list > tbody > tr:nth-child(2n+1) {
      background-color: #333;
      color: white; }
    .intranet_table_list > tbody > tr > td {
      text-align: center; }

.sublist_button {
  -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  transition: transform 0.5s linear; }
  .clicked.sublist_button {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .unclicked.sublist_button {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

/* =======================================================
  Frame dise├▒ado para mostrar icono y texto con reacci├│n 
  al hover
  */
.frame-element {
  width: 120px;
  height: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: auto 10px; }
  .frame-element:first-child {
    margin-left: 150px; }
  .frame-element:last-child {
    margin-right: 150px; }
  .frame-element > .icon {
    height: 75px; }
    .frame-element > .icon > span {
      font-size: 2rem;
      color: #dbe1e8;
      margin: auto; }
  .frame-element > .title {
    text-align: center;
    color: #1bbae1;
    font-size: 15px;
    font-weight: bold; }
  .frame-element:hover {
    cursor: pointer;
    background-color: #1bbae1; }
    .frame-element:hover > .icon > span {
      color: #ffffff;
      -webkit-opacity: 0.6;
      -moz-opacity: 0.6;
      opacity: 0.6; }
    .frame-element:hover > .title {
      color: #ffffff; }

/* =======================================================
  Frame dise├▒ado para mostrar informaci├│n y opcionalmente
  alguna opci├│n
  */
.frame-info {
  width: 150px;
  height: 120px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px #e3e9eb;
  background-color: #f5f7f7; }
  .frame-info:first-child {
    margin-left: 0; }
  .frame-info:last-child {
    margin-right: 0; }
  .frame-info > .title {
    height: 30px;
    background-color: #e3e9eb; }
    .frame-info > .title > span {
      margin: auto; }
  .frame-info > .content {
    height: 90px; }
    .frame-info > .content > .text {
      height: 55px; }
      .frame-info > .content > .text > span {
        margin: auto; }
    .frame-info > .content > .buttons {
      height: 35px;
      border-top: solid 1px black; }
      .frame-info > .content > .buttons > span {
        margin: auto; }

/*
  Estructura:
  
    li.sublist 
      > span.sublist_button
      > ul.sublist_container
        > li.sublist_element
          > a.sublist_link


  Tiene depend├®ncias con:

  	. objects/buttons.scss
    . config/config_common.scss
  	. framework/*
    . fontawessome

*/
.sublist
> .sublist_container {
  overflow: hidden;
  list-style: dotted;
  list-style-type: square;
  padding-left: 50px; }
  .sublist
  > .sublist_container.in {
    height: auto; }
    .sublist
    > .sublist_container.in > .sublist_element {
      height: 25px;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1; }
      .sublist
      > .sublist_container.in > .sublist_element:first-child {
        margin-top: 15px; }
      .sublist
      > .sublist_container.in > .sublist_element:last-child {
        margin-bottom: 15px; }
  .sublist
  > .sublist_container.out > .sublist_element {
    height: 0; }
  .sublist
  > .sublist_container > .sublist_element {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    color: #f39c12;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }
    .sublist
    > .sublist_container > .sublist_element > .sublist_link {
      color: #f39c12;
      -webkit-transition: padding-left 0.2s;
      -moz-transition: padding-left 0.2s;
      -o-transition: padding-left 0.2s;
      transition: padding-left 0.2s;
      padding-left: 0; }
      .sublist
      > .sublist_container > .sublist_element > .sublist_link:hover {
        padding-left: 5px; }

.sublist_button {
  margin-left: 5px; }
  .sublist_button::before {
    content: '\f0d7'; }
  .sublist_button.clicked {
    color: #f39c12; }
  .sublist_button.unclicked {
    color: #f39c12; }

.general-view_container .general-view_linia {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .general-view_container .general-view_linia > .linia-num > .num {
    height: 60px;
    width: 60px;
    margin: auto;
    background-color: #2ecc71;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .general-view_container .general-view_linia > .linia-num > .num > span {
      margin: auto; }
  .general-view_container .general-view_linia > .sublinia_container {
    height: 160px; }
    .general-view_container .general-view_linia > .sublinia_container > .sublinia {
      height: 100px;
      width: 120px;
      margin: auto;
      background-color: #3498DB;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num {
        height: 30px;
        background-color: #BDC3C7; }
        .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num > .num {
          height: 20px;
          width: 20px;
          background-color: white;
          margin: auto;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-num > .num > span {
            margin: auto; }
      .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-familia {
        text-align: center;
        padding: 5px;
        font-size: 12px; }
      .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina {
          height: 25px;
          width: 25px;
          background-color: #e74c3c;
          color: white;
          margin: auto;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.no_test {
            background-color: white; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.not_finished {
            background-color: #e67e22; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.test_ok {
            background-color: #2ecc71; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.errors {
            background-color: #e74c3c; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina.maquina_actual {
            background-color: #f1c40f;
            border: solid 2px yellow; }
          .general-view_container .general-view_linia > .sublinia_container > .sublinia > .sublinia-maquines > .maquina > span {
            margin: auto; }

/*
   Extiende al base layout: "columns-base-layout"
*/
.intranet-base-parent {
  overflow: hidden; }
  .intranet-base-parent .layout-menu {
    background-color: #34495e;
    max-width: 220px;
    min-width: 175px; }
    .intranet-base-parent .layout-menu > #intranet_menu_lat {
      margin-top: 150px; }
      .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element {
        margin: 10px 0 0 0; }
        .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element > .list_icon {
          margin: 0 7px 0 15px;
          color: #95a5a6; }
          .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element > .list_icon.in {
            color: #f39c12;
            -ms-transform: scale(1.2, 1.2);
            -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
        .intranet-base-parent .layout-menu > #intranet_menu_lat > .list_element > .list_link {
          color: #ecf0f1; }
  .intranet-base-parent .layout-content {
    min-width: 900px; }
    .intranet-base-parent .layout-content > .layout-content-menu {
      border-bottom: solid 1px #ddd;
      overflow: hidden; }
    .intranet-base-parent .layout-content > .layout-content-final {
      overflow-y: scroll;
      background-color: #ecf0f1; }

.two-cols-contenedor > .left_side {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 40px 20px 20px; }
.two-cols-contenedor > .right_side {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 20px 20px 40px; }

.one-col-contenedor {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-flex-line-pack: space-around;
  align-content: space-around;
  padding: 10px; }

#tests_table_wrapper {
  margin: 50px;
  background-color: #ecf0f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.dataTables_info {
  display: none; }

.dataTables_length {
  margin: 25px; }
  .dataTables_length > label > select {
    padding: 5px;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #95a5a6; }

.dataTables_filter {
  margin: 25px; }
  .dataTables_filter > label > input {
    padding: 5px;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #95a5a6; }

#tests_table > thead > tr > th {
  text-align: left;
  font-size: 22px;
  padding-left: 20px;
  border: solid 1px #ddd; }
#tests_table > tbody > tr > td {
  padding-left: 20px;
  height: 40px; }

.frame-element {
  background-color: #f5f7f7; }

.clear {
  clear: both; }

#admin-tests_menu-sup {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  position: relative;
  height: 120px;
  background-color: #ffffff; }
  #admin-tests_menu-sup > .menu-sup_frame {
    height: 100%;
    padding: 0 20px;
    margin: auto; }

.info-contenedor {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

/*# sourceMappingURL=intranet.css.map */
