.main_title_container
{
  height:100px; 
  @extend %column_container;

  >.main_title  
  {
    padding:5px;
    margin:auto;
    >h2
    {
      color:$asphalt;
    }
  }
}

.general-view_container
{
  @extend %column_container;
  margin-top:50px;
  font-family: Helvetica;

  .general-view_linia
  {
  	@include flex();
    @extend %row_container;
    margin:50px;

    @include rounded(8px);
    border:solid 1px lighten($asphalt,10);
    overflow:hidden;

    >.linia-num
    {
      @extend %column_container;

      >.num
      {
      	@extend %column_container;
      	height:60px;
      	width:100%;
      	margin:auto;
      	background-color:darken($asphalt,3);

      	>span
      	{
      		margin:auto;
          color:$orange;
          font-weight:bold;
      	} // span
      } // num
    } // linia num

    >.sublinia_container
    {
      @extend %column_container;
      height:200px;

    	>.sublinia
    	{
        height:140px;
        width:140px;
        margin:auto;
        background-color:white;
        border:solid 1px lighten($blue-river,15);

        @include rounded(3px);

        >.sublinia-num
        {
          @extend %column_container;
          height:30px;
          background-color:lighten($blue-river,15);

          >.num
          {
           	@extend %column_container;
           	height:22px;
           	width:22px;
           	background-color:white;
            color:#333;
           	margin:auto;
           	@include rounded(50%);

           	>span
           	{
           	  margin:auto;
              font-family: Helvetica;
              font-weight:bold;
           	}
          }

        } // sublinia num

        >.sublinia-familia
        {
          text-align: center;
          padding:5px;
          font-size:12px;  
          background-color: #eee; 
           
        } // sublinia-familia

        >.sublinia-maquines
        {
          @extend %column_container;
          @include flex-wrap(wrap);
          padding-top:10px;

          >.maquina
          {
           	@extend %column_container;
            height:25px;
           	width:25px;
           	background-color:$alizarin;
           	color:white;
           	margin:auto;
           	@include rounded(5px);
            @include shadow(1px,1px ,2px ,#222);
            @include transition(shadow-box .5s linear);
            &:hover
            {
              @include shadow(3px,3px ,3px ,#222);
            }
            
            &.no_test{background-color:#eee;color:#333}
            &.not_finished{background-color:$carrot;}
            &.test_ok{background-color:$emerald;}
            &.errors{background-color:$alizarin;}
            &.maquina_actual{
              background-color:$sun;
              border:solid 2px yellow;
            }

           	>span
           	{
              margin:auto;
           	}
          }

        }// sublinia-maquines
    	} // sublinia
    } // sublinia container
  }
}