
/* =======================================================
  Botones standard para realizar las acciones comunes
    - Dependencias
      . colores del framework 'objects/colors'
  */.action-button{/*
  -[ parents ]--------------------------------------------
  */@extend %frame-button;/* objects/buttons 
  --------------------------------------------------------*/
  margin-top:auto;
  height:30px;

  >a
  {
    @extend %column_container;
    height:100%;
    color:inherit;

    >span
    {
      color:inherit;
      margin:auto; 
    }
  }
  // variante que utiliza acciones ajax
  &.ajax
  {
    @extend %column_container;

    >span
    {
      color:inherit;
      margin:auto;
    }
  }
}