/* =======================================================
  Lista de datos para mostrar información rápida
    - Dependencias

    - Interfaces
      . clicked / unclicked
      
  */.data-list{/*
  -[ parents ]--------------------------------------------
  */@extend %table_list;/* objects/list 
  --------------------------------------------------------*/
  
  position:relative;
  width:90%;
  margin:auto;

  >tbody
  {
  	>tr
  	{
      
  		>td
  		{
  		  >span
  		  {
  			color:black;
            &:hover
            {
              cursor:pointer;
            }
  		  }
  		}
  	}
  }

}