.maquina_actual
{
	height:50px;
    width:50px;
    background-color:$orange;
    border:solid 2px $orange;
    @include rounded(5px);
    color:white;
    padding:0 5px;
    font-weight: bold;
}

.plegable
{
	&.in
	{
      display:table;
	}
	&.out
	{
      display:none;
	}
}

.pointable
{
	&:hover
	{
		cursor:pointer;
	}
}


// enllaços en una taula
#resultat_dades{
  td>a{
	color:$blue_river;
  }
}