#TO_container
{
  //font-family: Helvetica;
  @include flex();
  @extend %column_container;
  min-height:100px; 
  width:100%;

  >#TO_tipus-menu-container
  {
  	@include flex();
  	max-width:110px;
  	background-color:white;


  	>.TO_familia-row
  	{
  	  padding:5px 0 5px 8px;
  	  color:$blue_wood;
  	  &.clicked
  	  {
  	  	background-color: $concrete;
        color:white;
  	  }
      &:hover{cursor:pointer;}
  	}
  }

  >#TO_maquines-menu-container
  {
    @include flex();
  	max-width:110px;
  	background-color:$concrete;
    border-top-right-radius:5px;

    >h2
    {
      text-align: center;
      font-size:14px;
      color:darken($blue_wood,3);
      margin:10px 0 10px 0;
    }
    >ul>.maquina-of-type
    {
      padding:5px 0 5px 10px;
      color:white;

      >.model
      {
        
      }
      >.numero
      {
        
      }
  	  &.unclicked
  	  {
       
  	  }
  	  &.clicked
  	  {
  	    background-color:$blue_wood;
        color:$alizarin;
  	  }
      &:hover{cursor:pointer}
    }
  	
  }

  >#TO_tests-container
  {
  	@include flex();
    @extend %column_container;
    @include flex-wrap(wrap);
  }
}


// las cajas de los tests

.test-box
{
  width:200px;
  height:200px;
  border:solid 1px $concrete;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  margin:7px;
  background-color:white;
  overflow: hidden;

  >.test-box_info-row
  {
    height:20px;
    padding:2px;
    border-bottom:solid 1px $concrete;

    &.time
    {
      background-color:$blue_wood;
      color:white;
      >.data{float:left}
      >.hora{float:right}
    }
    &.color
    {
      font-family: Helvetica;
      background-color:white;
      font-weight: bold;
      text-align: center;
      font-size:12px;
    }
    &.of
    {
      background-color:white;
      text-align: center;
      font-size:12px;
    }
    &.fail
    {
   
    }

  } // test-box_info-row
  
  >.test-box_content
  {
    @extend %column_container;

  	>.mesures-container
    {
      @include flex(1);
      padding-top:5px;

      >.data-list
      {
        font-size:12px;
      }
    } // mesures container

    >.results-container
    {
      @include flex(1);
 
      
      >.result-row
      {
        margin-top:5px;
        font-size:11px;
        margin-right:3px;
        text-align: center;
        
        &:first-child{margin-top:6px;}
        &.mitjana{
          background-color:white;
          font-family: Helvetica;
          @include rounded(2px);
          font-size:14px;
          color:$combo-dark-blue;
        }
        &.desc{
          background-color:white;
          font-family: Helvetica;
          @include rounded(2px);
          font-size:14px;
          color:$combo-dark-blue;
        }
        >hr
        {
          height:2px;
          margin:0;
        }
        >.result-row_value
        {
           font-weight: bold;
        }

        &.fail
        {
          color:black;
        }
      }
    }
  } // test-box_content
  
  &.fail
  {
    background-color:lighten(#c56c6a,7);
  }
  &.ok
  {
    &:nth-child(2n){background-color:$combo-blue_4;}
    &:nth-child(2n+1){background-color:$combo-blue_2;}
  }


}

// el nou test per a una maquina
// sense una of assignada
#nou-test_container{
  @include flex();
  height:500px;
  @extend %column_container;
  
  >#NT_test_container{
    @include flex(1);

    #of_selector_container
    {
       position:relative;
       @extend %column_container;
       height:80px;
       margin:auto;
    }

    #NT_mesures_container
    {
      position:relative;
      width:350px;
      margin:auto;

      >.test_button
      {
        padding:10px;
        background-color:$carrot;
        color:white;
      }

      >.resultats-table_contenedor
      {
        >.test_buttons>.test_button{
          background-color:$sun;
          margin:5px;
          padding:10px;
        }
      }
    }
  }

  >#NT_resultat_container{
    @include flex(1);
    @extend %column_container;
    @include flex-wrap(wrap);
    

    >.test_resultat_title
    {
      font-family: Helvetica;
      color: $combo-dark-blue;
      font-size:18px;
      text-align: center;
      padding:10px;
      width:400px;
      margin:auto;
    }

    >.test_resultat_row
    {
      position:relative;
      width:400px;
      height:100px;
      padding:5px;
      margin:10px auto 10px auto;
      background-color:$combo-blue_5;
      @include rounded(3px);

      >.test_resultat_row_title
      {
        font-family: Helvetica;
        font-size:15px;
        color:$combo-dark-blue;
        font-weight: bold;
        padding:5px;
        border-bottom:solid 1px $combo-dark-blue;
      }
      >.nominal
      {
        font-size:13px;
        margin:10px auto;
        color:$combo-dark-blue;
        padding-left:10px;

        >.valor{font-weight:bold;}
      }
      >.obtingut
      {
        font-size:15px;
        margin:10px auto;
        padding-left:10px;

        &.ok
        {
          color:$pumpkin;
        }
        &.fail
        {
          color:$pomegranate;
        }
        >.valor_obtingut{font-weight:bold;font-size:18px;}
      }
    }
  }
}

// aixó ha d'anar a un altre lloc
.test_buttons
{

  >.test_button{
    padding:5px 10px;
    @include rounded(5px);
    background-color:$alizarin;
  }
}

.last-week_frame{
  margin:auto 15px auto auto;
  @extend %column_container;
  width:100px;
  height:50px;
  background-color:white;  

  >.last-week_arrow
  {
    margin:auto;

  }
}


.last-week_container
{
  @include flex();
  max-width:50px;
  height:50px;
  margin:auto;
  background-color:$concrete;
  overflow:hidden;
  @include rounded(2px);
  @include shadow(1px,1px,3px,#000);


  >#last-week_days
  {
    position:relative;
    left:-350px;
    height:50px;
    width:400px;
    @include transition(.5s,left);

    >.last-week_day
    {
      @extend %column_container;
      position:relative;
      float:right;
      height:50px;
      width:50px;
      color:white;
      font-weight: bold;
      >span{margin:auto;}
    }
  } // days
}

// of_selector
.TO_of_selector
{
  height:40px;
  margin:auto;
  
}

#consulta-info{
  @extend %column_container;
  @include flex-wrap(wrap);
  height:100px;
  width:250px;
  border:solid 1px $concrete;
  @include rounded(5px);
  margin:auto;
  background-color:$clouds;

  >.consulta-info_row
  {

    height:20px;
    width:250px;
    max-width:125px;
    color:$blue_wood;
    margin:1px 0;
    >span
    {
      padding-left:5px;
      width:50%;
      text-align:left;
      &.label{color:black;}
    }
    
  }
}


.hidden{display:none}
 

// formulari per a introduïr mesures manualment

#mesura_manual_container
{
  >form{
    >h2{
      padding:2px;
      font-size:14px;
    }
    >br{display:none}
    >.fields{
      >.fieldset
      {
        margin:5px;
        height:40px;
        >div>.intranet-input{padding:2px;height:30px}
        >div>.intranet-label{display:none;}
      }

    }
    >.buttons{
        >div>.intranet-accept{margin:4px;content:"Enviar"}
      }
  }
}