// =========================================================================================
/* $Colores generales usados en toda la web
/* ---------------------------------------- */

//verds
$mountain_meadow: #1Abc9c; 
$mountain_meadow2:#16a085;
$emerald: #2ecc71;
$nephritis:#27ae60;

// blaus
$blue_wood:#34495e;
$blue_river:#3498DB;

//grissos

$concrete:#95a5a6;
$asbestos:#7f8c8d; 
$clouds:#ecf0f1;
$silver:#BDC3C7;

$asphalt:#34495e;
$green_sea:#2c3e50;


// taronges

$orange:#f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;

// vermells

$alizarin: #e74c3c;
$pomegranate: #c0392b;


// grocs

$sun: #f1c40f;

// lilas

$amethyst: #9b59b6;
$wisteria: #8e44ad;





//colores estructurales de fondo:

 $admin-bcolor_menu:$blue_wood;
 $admin-bcolor_content:$clouds;

// colors del selements

// menú lateral
 $intranet-menu-lat_color:$clouds;
 $intranet-menu-lat_icon:$concrete; 

// menú superior
 $admin-menuSup-color:#ffffff;
 $admin-menuSup-hover:#1bbae1;
 $admin-menuSup-hover-color:#ffffff;


// colors dels formularis
 $intranet-form-border:$clouds;
 $intranet-form-label:$blue_wood;
 $intranet-form-input:$clouds;
 $intranet-form-title:$blue_wood;



 // configuración de las páginas



 // VISIÓN GENERAL:

 