{% extends 'AppBundle:layout:intranet_layout.html.twig' %}


{% block content_menu %}
  
  <header id="admin-tests_menu-sup">

     <nav class="menu-sup_frame">

      <a 
        class="frame-element" 
        href="{{ path('nova_OF') }}"
      >

         <div class="icon">
           <span class='fa fa-external-link'></span>
         </div>
         <div class="title">
          Nova OF
          </div>
      </a>


      <a 
        class="frame-element" 
        href="{{ path('admin_tests') }}"
      >

         <div class="icon">
           <span class='fa fa-flag-o'></span>
         </div>
         <div class="title">
          OF's obertes
          </div>
      </a>

      <a 
        class="frame-element" 
        href="{{ path('tests_historial') }}"
      >

        <div class="icon">
          <span class='fa fa-database'></span>
        </div>

        <div class="title">
          Historial
        </div>

      </a>

      
     </nav>

   </header>

{% endblock %}


{% block pageContent %}
  
{{ render(controller(
    'AppBundle:Test:list_OF_pendents'
    )) 
}}

{# pageContent #}
{% endblock %}