{% extends "AppBundle:layout:intranet_layout.html.twig" %}

{% block content_menu %} 

<div class="main_title_container">
  <span class="main_title"><h2>Linies de producció</h2></span>
</div>

{% endblock content_menu %}


{% block pageContent %}

  {{ include(
    'AppBundle:include:general_view.html.twig',
    {
      "linias":linias,
    }, 
  with_context = false
  )  
  }}

{% endblock %}


{#
{% image '@AppBundle/Resources/public/images/maquinaria.png'
    filter='' output='/images/maquinaria.png' %}
    <img src="{{ asset_url }}" alt="Maquines"/>
{% endimage %}
#}