{% extends 'AppBundle:content:OF_overview.html.twig' %}

{% block TestSpace %}
  {# incluimos el contenido heredado de "OF_overview" #}
{{ parent() }}

{% if resultat.done %}
{# el test ja s'ha realitzat #}
	<p> Test finalitzat</p>

  {% set OF = resultat.test.of %}  

    {{ include(
    'AppBundle:include:resultat_maquina.html.twig',
    {
    "maquina":maquina,
    "resultat":resultat,
    "OF":OF,
    }, 
    with_context = false
    )  
    }}

{% else %}

  {{ include(
    'AppBundle:include:test.html.twig',
    {
      "resultat":resultat,
      "mesuraForm":mesuraForm,
      "resultParamsForm":resultParamsForm,
      "mesures":mesures,
    }, 
    with_context = false
    )  
  }}

{% endif %}  

{% endblock %}