/*
   Extiende al base layout: "columns-base-layout"
*/

.intranet-base-parent{

// es un contenedor flexible de columnas
//====================================
@extend .rows-base-layout-parent; 
// -----------------------------------
  overflow:hidden;

  //height:100%;
 
  .layout-menu
  {
    background-color: $admin-bcolor_menu;

    >#intranet_menu_lat
    {
      @extend %column_container;

      >.list_element
      {
        padding:10px;
        min-width:100px;
        height:100%;

        >.list_icon
        {
          margin:0 7px 0 15px;
          color:$intranet-menu-lat_icon;

          &.in
          {
            color:$orange;
            @include scale(1.2,1.2);
          }
        }

        >.list_link
        {
          color:$intranet-menu-lat_color;
        }
      } // li   
    } // intranet_menu_lat


  } // layout menu



  // los contenedores de cada página individual
  .layout-content
  { 
    >.layout-content-menu
    {
      border-bottom:solid 1px #ddd;
      overflow:hidden;
      padding:5px;
      @extend %column_container;
      @include shadow(0px,0px,5px,#000);
      z-index:11;

      >#menu_sup_left_section{
         @include flex();
         background-color:grey;
      }

      >#menu_sup_right_section{
        @include flex();
      }
    } // content menu

    >.layout-content-submenu
    {
      position:relative;
      background-color:$clouds;
    } // content submenu

    >.layout-content-options
    {
      position:relative;
      background-color:$clouds;
    } // content submenu

    >.layout-content-final
    {
      position:relative;
      overflow-y:scroll;
      background-color:$admin-bcolor_content;
      @extend %row_container; 
    } // content menu

    >.layout-content-final-old
    {
      position:relative;
      overflow-y:scroll;
      background-color:$admin-bcolor_content;
    } // content menu
  } 

}