/* estructura vertical con:

     - menu superior*/
     $rows-layout-menu:1;
     /*- contenido central */
     $rows-layout-content:11;/*

        . espacio para un menú superior(pestañas)*/
        $columns-layout-contentMenu:2;/*
        . espacio para el contenido final de la página*/
        $columns-layout-contentFinal:10;/*


 */

.rows-base-layout-parent{
// es un contenedor flexible de filas
// se adapta a la altura total de la página
// el menú no tiene scroll solo la parte del contenido
//===================================================
@extend %row_container; 
// --------------------------------------------------
  position:relative;
  min-height:100% !important;
  height:100%;

  >.layout-menu
  {
    height:40px; 
  }

  // El contenido de la página
  >.layout-content
  { 
    @extend %row_container;
    @include flex($rows-layout-content);
    height:100%;

    >.layout-content-menu
    {
       @include flex($columns-layout-contentMenu);
      
    } // content menu

    >.layout-content-final
    {
       @include flex($columns-layout-contentFinal);
    } // content final

  } // content

}