/* =======================================================
  div destinado a dejar un espacio en blanco
  */.padding-div/*
  --------------------------------------------------------
*/{
}


/* =======================================================
  deja un espacio vertical de 20px
  */.vertical-space_20/*
  --------------------------------------------------------
*/{
  
  position:relative;
  height:20px;
  width:100%;
  background-color: transparent;
}